
@media (min-width: 900px) {
    .box{
    
        background-image: url("../../public/images/bg4.webp");
    }
    
}
@media (max-width:899px) {
    .box{
    
        background-image: url("../../public/images/bg1.webp");
    }
}
.box4{
    background-image: url("../../public/images/bg3.webp");
}

